$background-white: hsl(0, 0%, 100%);
$primary-black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);
$font-josefin: 'Josefin Sans', sans-serif;
$font-alata: 'Alata', sans-serif;

body {
  padding: 0;
  margin: 0;
//   font-size: 15px;
  font-family: $font-alata;
  background-color: $background-white;
  text-transform: uppercase;
}

header {
  background: url('/images/desktop/image-hero.jpg') no-repeat center center /
    cover;
  width: 100%;
  height: 700px;
}

.container {
    padding: 10px;
  display: grid;
  grid-template-columns: [wallspace-start] minmax(33px, 330px) [inner-line-start] 1fr [inner-line-end] minmax(
      33px,
      330px
    )[wallspace-end];
  grid-template-rows: [top-space] 233px [interactive-start] 800px [interactive-end grid-title-start] 55px [grid-title-end grid-block-start] 1fr [grid-block-end] 50px [footer-start] 155px [footer-end];


  .interactive-container {
    grid-column: inner-line-start/inner-line-end;
    grid-row: interactive-start/interactive-end; 
    position: relative; 
  }

  .middle-image {
    background: url('/images/desktop/image-interactive.jpg') no-repeat center
      center/ contain;
    width: 77%;
    height: 100%;
    // padding-top: 50px;
    position: relative;
  }

  .middle-description {
      grid-column: inner-line-start/inner-line-end;
      grid-row: interactive-start/interactive-end;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $background-white;
      height: 400px;
      width: 45%;
    //   padding: 45px;
      text-align: center;

      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: $font-josefin;
        font-weight: 700;
      p {
          text-transform: lowercase;
          width: 50%;
      }
  }

  .grid {
      grid-column: inner-line-start/inner-line-end;
      grid-row: grid-title-start/grid-block-end;
      padding: 20px;

      .grid-title-button {
          grid-row: grid-title-start/grid-title-end;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          font-weight: 400;
          font-family: $font-josefin;
      }

      .grid-image-wrapper {
          grid-column: inner-line-start/inner-line-end;
          grid-row: grid-block-start/grid-block-end;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;

      }
  }
}

footer {
    grid-row: footer-start/footer-end;
    background-color: $primary-black;
}
