$background-white: hsl(0, 0%, 100%);
$primary-black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);
$font-josefin: 'Josefin Sans', sans-serif;
$font-alata: 'Alata', sans-serif;


$font-family-main: 'red';


$bg-images: 'deep-earth', 'night-arcade', 'soccer-team', 'grid', 'from-above', 'pocket-borealis', 'curiosity', 'fisheye';